########################################################################
# emc-permsort.cfg
#
# Dies ist die Configdatei für die permanente Sortierung ausgewählter Verzeichnisse.
# Die Einträge werden von ECM vorgenommen, hier bitte nicht's von Hand ändern.
# 
########################################################################
