Package: enigma2-plugin-extensions-enhancedmoviecenter
Version: 3.7.3beta20130802
Description: Enhanced Movie Center by Coolman, Betonme & Swiss-MAD
Section: extra
Priority: optional
Maintainer: Coolman, Betonme, dirtylion, Jojojoxx, mr.scotty, & Swiss-MAD
Architecture: all
OE: EnhancedMovieCenter_V3.7.3beta20130802
Homepage: http://www.i-have-a-dreambox.com/wbb2/thread.php?threadid=156282
Depends: enigma2 (>= 2.6git20091014), python-shell, python-twisted-web, python-json
